<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **2020 Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [2]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv"

Load the data available at dataset_url into a dataframe.

In [3]:
# your code goes here
df_survey = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [4]:
# your code goes here
df_survey.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [5]:
 # your code goes here
print('The number of rows in the dataset is ' + str(df_survey.shape[0]) + '.')

The number of rows in the dataset is 64461.

Print the number of columns in the dataset.

In [6]:
# your code goes here
print('The number of columns in the dataframe is ' + str(df_survey.shape[1]) + '.')

The number of columns in the dataframe is 61.

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [10]:
# your code goes here
# option 1 (doesn't show all columns):
#df_survey.dtypes

# option 2 (prints more info than needed):
#df_survey.info(verbose=True)

# option 3 (works, but wordy)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_survey.dtypes)

Respondent                        int64
MainBranch                       object
Hobbyist                         object
Age                             float64
Age1stCode                       object
CompFreq                         object
CompTotal                       float64
ConvertedComp                   float64
Country                          object
CurrencyDesc                     object
CurrencySymbol                   object
DatabaseDesireNextYear           object
DatabaseWorkedWith               object
DevType                          object
EdLevel                          object
Employment                       object
Ethnicity                        object
Gender                           object
JobFactors                       object
JobSat                           object
JobSeek                          object
LanguageDesireNextYear           object
LanguageWorkedWith               object
MiscTechDesireNextYear           object
MiscTechWorkedWith               object
NEWCollabToolsDesireNextYear     object
NEWCollabToolsWorkedWith         object
NEWDevOps                        object
NEWDevOpsImpt                    object
NEWEdImpt                        object
NEWJobHunt                       object
NEWJobHuntResearch               object
NEWLearn                         object
NEWOffTopic                      object
NEWOnboardGood                   object
NEWOtherComms                    object
NEWOvertime                      object
NEWPurchaseResearch              object
NEWPurpleLink                    object
NEWSOSites                       object
NEWStuck                         object
OpSys                            object
OrgSize                          object
PlatformDesireNextYear           object
PlatformWorkedWith               object
PurchaseWhat                     object
Sexuality                        object
SOAccount                        object
SOComm                           object
SOPartFreq                       object
SOVisitFreq                      object
SurveyEase                       object
SurveyLength                     object
Trans                            object
UndergradMajor                   object
WebframeDesireNextYear           object
WebframeWorkedWith               object
WelcomeChange                    object
WorkWeekHrs                     float64
YearsCode                        object
YearsCodePro                     object
dtype: object

Print the mean age of the survey participants.

In [12]:
# your code goes here
print('The mean age of the survey participants is ', df_survey['Age'].mean())

The mean age of the survey participants is  30.83411081283281

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [13]:
# your code goes here
print('There are', df_survey['Country'].nunique(), 'unique countries in the survey:')

print('\nCountry                               Respondants')      

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_survey['Country'].value_counts())

There are 183 unique countries in the survey:

Country                               Respondants
United States                                12469
India                                         8403
United Kingdom                                3896
Germany                                       3890
Canada                                        2191
France                                        1898
Brazil                                        1818
Netherlands                                   1343
Poland                                        1278
Australia                                     1208
Spain                                         1161
Italy                                         1117
Russian Federation                            1092
Sweden                                         886
Pakistan                                       809
Turkey                                         777
Israel                                         653
Switzerland                                    629
Bangladesh                                     609
Romania                                        604
Nigeria                                        593
Mexico                                         540
Austria                                        539
Ukraine                                        539
Czech Republic                                 500
Indonesia                                      499
South Africa                                   494
Iran                                           491
Belgium                                        459
Ireland                                        444
Philippines                                    405
Denmark                                        397
Argentina                                      395
Greece                                         390
Portugal                                       388
Norway                                         384
Hungary                                        371
China                                          371
Viet Nam                                       364
New Zealand                                    353
Finland                                        349
Bulgaria                                       323
Serbia                                         306
Japan                                          297
Sri Lanka                                      295
Colombia                                       285
Egypt                                          281
Kenya                                          271
Nepal                                          242
Malaysia                                       231
Singapore                                      228
South Korea                                    201
Slovakia                                       188
Croatia                                        185
Chile                                          181
Morocco                                        176
Lithuania                                      171
Taiwan                                         158
Slovenia                                       157
Thailand                                       148
Estonia                                        145
Belarus                                        129
Tunisia                                        125
United Arab Emirates                           115
Latvia                                         111
Hong Kong (S.A.R.)                             111
Ghana                                          105
Peru                                           101
Uruguay                                        100
Bosnia and Herzegovina                          96
Algeria                                         94
Saudi Arabia                                    90
Republic of Korea                               88
Afghanistan                                     84
Uganda                                          81
Costa Rica                                      76
Dominican Republic                              72
Lebanon                                         71
Venezuela, Bolivarian Republic of...            70
Georgia                                         67
Armenia                                         64
Kazakhstan                                      61
Ethiopia                                        59
Jordan                                          57
Albania                                         54
Iceland                                         53
Myanmar                                         51
Azerbaijan                                      50
Republic of Moldova                             50
Cyprus                                          50
Cameroon                                        50
Guatemala                                       49
Ecuador                                         49
Malta                                           47
Iraq                                            44
Luxembourg                                      42
Uzbekistan                                      41
Bolivia                                         40
The former Yugoslav Republic of Macedonia       38
Nicaragua                                       35
Sudan                                           34
Kosovo                                          34
Rwanda                                          31
United Republic of Tanzania                     31
Nomadic                                         31
Zimbabwe                                        31
Cambodia                                        31
Paraguay                                        26
El Salvador                                     26
Senegal                                         26
Panama                                          24
Cuba                                            22
Zambia                                          21
Madagascar                                      21
Honduras                                        21
Qatar                                           20
Somalia                                         18
Mauritius                                       18
Kuwait                                          18
Côte d'Ivoire                                   17
Kyrgyzstan                                      16
Jamaica                                         14
Andorra                                         13
Syrian Arab Republic                            13
Montenegro                                      13
Mongolia                                        12
Oman                                            11
Maldives                                        10
Togo                                            10
Bahrain                                          9
Benin                                            9
Angola                                           9
Isle of Man                                      8
Congo, Republic of the...                        8
Botswana                                         8
Malawi                                           8
Libyan Arab Jamahiriya                           8
Namibia                                          8
Democratic Republic of the Congo                 7
Lao People's Democratic Republic                 7
Bhutan                                           7
Swaziland                                        7
Yemen                                            7
Mozambique                                       7
Trinidad and Tobago                              7
Burkina Faso                                     6
Sierra Leone                                     6
Niger                                            5
Guyana                                           5
Barbados                                         5
Guinea                                           5
Haiti                                            5
Turkmenistan                                     4
Tajikistan                                       4
Mauritania                                       4
Gambia                                           4
Belize                                           4
Saint Vincent and the Grenadines                 3
Eritrea                                          3
Brunei Darussalam                                3
Bahamas                                          3
Solomon Islands                                  2
Monaco                                           2
Timor-Leste                                      2
Burundi                                          2
Djibouti                                         2
Cape Verde                                       2
San Marino                                       2
Papua New Guinea                                 2
Antigua and Barbuda                              2
Gabon                                            1
Liechtenstein                                    1
North Korea                                      1
Fiji                                             1
Micronesia, Federated States of...               1
Mali                                             1
Chad                                             1
Grenada                                          1
Kiribati                                         1
Nauru                                            1
Lesotho                                          1
Saint Lucia                                      1
Marshall Islands                                 1
Name: Country, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).